{{>head}}
{{>header}}

<body>
	<div id="indexCards">
		<div class="row row-cols-1 g-4">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Our Story</h5>
						<p class="card-text">2018 – Discussions with Glasgow City Council & our partner organisation Fareshare Glasgow & West of Scotland lead to the development of a best practice mode, a steering group is formed to establish a pilot in the North East of the city.<br><br>
						2019 – Two more sites are identified, one in the East another in the South.<br><br>
						2020 – The first two Pantries open with great success.<br><br>
						2021 – Was an exciting year for the Pantry Network, we hired our first members of staff and moved into other local authority areas. We started to establish our networks and partnerships.<br><br>
						2022 – Has been another successful year for TSPN. We have secured funding for a further 3 posts and developed our business case for a Farm project.<br><br>
						2023 – Interest in the Network continues to grow and we know have 21 member pantries across 8 local authority areas. Our core team is now in place and working hard to improve awareness, influence policy and provide critical tailored support to our member pantries. We are able to attend and support a range of events with policy makers including the Glasgow Food Summit, SCVO the Gathering, and Scotland's Homelessness Conference.</p>
						</div>
					</div>
				</div>
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">About Us</h5>
						<p class="card-text">Our vision is to create a sustainable network of pantries providing low-cost food and wrap around services. The pantry is a dignified approach empowering communities to help themselves. The Pantry will support upskilling the community through volunteering and employability opportunities, with the shop itself being utilised as a training facility.<br><br>
						The Scottish Pantry Network will support the pantries by being the collective voice for change, we forge strong partnerships to support the development of the hub model, creating a tailored experience for local communities. The Network will provide ongoing support to the pantries through compliance, lobbying and creating links with food suppliers.<br><br>
						Our key objectives:<br>
						1. The prevention of poverty and the relief of financial hardship<br>
						2. The advancement of community development<br>
						3. Advancement of environmental protection by reducing food waste<br>
						4. Advancement of education through skills training and employment<br>
						5. Advancement of health by improving access to nutritious food<br>
						6. Relief for those in need by providing access to support services
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

{{>footer}}