{{>head}}
{{>header}}

<body>
	<div id="indexCards"> 
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">

		<div class="col">
			<a class="landingCard" href="./admin/messages">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Messages</h5>
						<p class="card-text">View all messages.</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col">
			<a class="landingCard" href="./admin/listings">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Listings</h5>
						<p class="card-text">View all listings.</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col">
			<a class="landingCard" href="./admin/accounts">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Accounts</h5>
						<p class="card-text">View all accounts.</p>
					</div>
				</div>
			</a>
		</div>

	</div>
</div>
</body>

{{>footer}}