<nav class="navbar navbar-expand-lg bg-body-tertiary" id="header">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="../images/logo.svg" alt="TSPN">
		</a>

		{{! <li class="nav-item">
			<a class="nav-link" href="/shopping cart ">
				<i class="fas fa-shopping-cart"></i> <!-- shopping cart (disabled for now) -->
			</a>
		</li> }}

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			{{>nav}}
		</div>
	</div>
</nav>

<div id="content">