<div id="indexCards"> 
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-4">

		<div class="col">
			<a class="landingCard" href="./messages">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Messages</h5>
						<p class="card-text">View your messages.</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col">
			<a class="landingCard" href="./create/listing">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Create Listing</h5>
						<p class="card-text">Create a listing to donate.</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col">
			<a class="landingCard" href="./view/listings">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">View Listings</h5>
						<p class="card-text">View what is being dontated.</p>
					</div>
				</div>
			</a>
		</div>

		<div class="col">
			<a class="landingCard" href="./settings">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Settings</h5>
						<p class="card-text">Make changes to your account.</p>
					</div>
				</div>
			</a>
		</div>

		{{#admin}}
			<div class="col">
				<a class="landingCard" href="./admin">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Admin</h5>
							<p class="card-text">Administrator page.</p>
						</div>
					</div>
				</a>
			</div>
		{{/admin}}

		<div class="col">
			<a class="landingCard" href="./about">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">About</h5>
						<p class="card-text">Information about The Scottish Pantry Network.</p>
					</div>
				</div>
			</a>
		</div>

	</div>
</div>