{{>head}}
{{>header}}

<body>
 <div id="indexCards">
   <div class="row row-cols-1 g-4">
     <div class="col">
       <div class="card">
         <div class="card-body">
           <h5 class="card-title">Welcome to The Scottish Pantry Network</h5>
           <p class="card-text">
             This site is designed to connect pantry members and individuals who would like to donate to them. Here, you can find ways to contribute and support their efforts in combating food insecurity.
           </p>
           <div class="d-flex justify-content-center">
             <a href="/login" class="btn btn-primary me-2">Log In</a>
             <a href="/registration" class="btn btn-secondary">Register</a>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</body>

{{>footer}}